.book-lists {
  .book-item {
    .book-title {
      font-size: 12px;
      color: #333333;
      text-decoration: none !important;
      margin-top: 5px;
      &:hover {
        color: #00b3ee;;
        text-decoration: none !important;
      }
    }
    .photo-url {
      height: 200px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}