.header {
  background: darken(#fafafa, .5);
  .navbar-brand {
    font-size: 16px;
  }
  .dropdown-transparent {
    padding: 0;
    background: transparent;
    border: 0px;
    &:focus{
      outline: none;
      background: transparent;
    }
  }
}