$sidebar-bg: #fafafa; //#fafafa
$sidebar-nav-a-color: #55595c;

$wrapper-bg: #f7f7f7;

$text-color-primary: #08f;
$text-color-black: #333333;
$text-color-red: #ef7260;
$text-color-blue: #09aab9;
$text-color-green: #27ae60;
$text-color-green-darken: #009688;
$text-color-orange: #e67e22;
$text-color-purple: #8e44ad;
$text-color-yellow: #f3cf3f;
$text-color-black-white: #696969;
$text-color-gray: #b3b3b3;

$bg-color-white: #ffffff;
$bg-color-gray: darken(#fafafa, 2)
