.fullwidth{
  width: 100%;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.pt-portal{
  display: inherit;
}

.flex {
  display: flex;
  &.flex-wrap{
    flex-wrap: wrap;
  }
  &.align-center {
    align-items: center;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-end {
    justify-content: flex-end;
  }
  &.justify-space-between {
    justify-content: space-between;
  }
  &.h4-title {
    margin-bottom: 5px;
    h4 {
      margin-bottom: 0px;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.form-control {
  font-size: 14px;
  border: 1px solid lighten(#EEEEEE, 1);
  //border: 0px;
  //box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.pt-overlay-open{
  .pt-tether-element{
    z-index: 9999;
  }
}