.fullwidth{
  width: 100%;
}

.flex {
  display: flex;
  &.align-center {
    align-items: center;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-space-between {
    justify-content: space-between;
  }
  &.h4-title {
    margin-bottom: 5px;
    h4 {
      margin-bottom: 0px;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.form-control {
  font-size: 14px;
  border: 1px solid lighten(#EEEEEE, 1);
}

a.black {
  color: #2c3e50;
  font-weight: 600;
}
