@import "base";
@import "./variables";
@import "./mixins";
@import "./partials/index";

$font-size: 14px;

@mixin placeholder($selector, $color) {
  #{$selector}::-webkit-input-placeholder {
    color: $color;
    transition: opacity 250ms ease-in-out;
  }
  #{$selector}::-moz-placeholder {
    color: $color;
    transition: opacity 250ms ease-in-out;
  }
  #{$selector}:-ms-input-placeholder {
    color: $color;
    transition: opacity 250ms ease-in-out;
  }
  #{$selector}:focus::-webkit-input-placeholder {
    color: lighten($color, 10)
  }
  #{$selector}:focus::-moz-placeholder {
    color: lighten($color, 10)
  }
  #{$selector}:focus:-ms-input-placeholder {
    color: lighten($color, 10)
  }
}

html {
  height: 100%;
}

body {
  font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: $font-size;
  font-weight: 400;
  color: #333333;
  opacity: .9;
  height: 100%;
}

body, input, select, textarea, button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}

#root {
  background: #FFFFFF;
  height: 100%;
}

.dashboard-container {
  height: 100%;
}

a.null {
  &:hover {
    text-decoration: none;
  }
}

@include placeholder('.form-control', lighten(#c7c7c7, 10));
