.select-multiple-media{
  width: 100%;
  & > .media-lists{
    width: 100%;
    & > div {
      width: 100%;
    }
    .item{
      display: flex;
      background: #fafafa;
      margin-bottom: 5px;
      .thumbnail{
        width: 30px;
        height: 30px;
        background: orange;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 100%;
          height: 100%;
        }
        .icon{
          font-size: 18px;
        }
      }
    }
    .section{
      padding: 0px 10px;
      display: flex;
      align-items: center;
      flex: 1;
      word-break: break-all;
    }
    .tools{
      width: 60px;
      height: 30px;
      .btn{
        width: 50%;
        padding: 5px 5px;
      }
    }
  }
}