.tt-markdown-editor-wrapper {
  border: 1px solid #eeeeee;
  &.has-preview{
    width: 100%;
    float: left;
    .tt-markdown-editor{
      width: 50%;
      float: left;
      padding-right: 5px;
    }
    .tt-markdown-editor-preview{
      width: 50%;
      float: left;
      padding-left: 5px;
    }
  }
}

.tt-markdown-editor {
  line-height: 1.6em;
  pading: 5px 10px;
  .CodeMirror {
    border: 0px;
    height: auto;
    padding: 5px 10px;
  }
  .CodeMirror pre{
    box-shadow: none;
    font-family: 'Bookerly';
  }
}

.tt-markdown-editor-preview{
  font-family: 'Bookerly';
  line-height: 1.6em;
  padding: 5px 10px;
  border-left: 1px solid #eeeeee;
  img{
    max-width: 75%;
  }
}
