@import "../../assets/scss/variables";

.wrapper {
  background: $wrapper-bg;
  padding-top: 45.6px;
  .menu-bar {
    display: none;
    margin-bottom: 10px;
    a {
      margin-top: 10px;
      padding: 6px 20px;
      background: #EEEEEE;
      color: #333333;
      border-radius: 6px;
      font-size: 14px;
      &:focus, &:hover {
        text-decoration: none;
      }
    }
  }
  @media (max-width: 779px) {
    margin-left: 0px;
    .menu-bar {
      display: block;
    }
  }
  margin-left: 230px;
  overflow-y: scroll;
  padding-bottom: 20px;
}