.tt-paginate{
  padding-left: 0px;
  li{
    list-style: none;
    display: inline-block;
    a:not([href]):not([tabindex]){
      display: block;
      padding: 7px 10px;
      color: #0e5a8a;
      font-weight: 600;
      font-size: 14px;
    }
    &.selected{
      a:not([href]):not([tabindex]){
        background: darken(#ffffff, 10);
        border-radius: 2px;
      }
    }
  }
}
.table-pagination {
  margin-bottom: 10px;
  @media (max-width: 991px) {
    margin-top: 10px;
  }
  button, .form-control {
    float: left;
  }
  .form-control {
    width: 40px;
    height: 32px;
    border: 1px solid #eeeeee !important;
    margin-left: 5px;
    margin-right: 5px;
  }
}