@import "../variables";

@mixin button_vndev($color, $color-text:#ffffff) {
  border: 1px solid $color;
  border-radius: 3px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  color: $color;
  background: transparent;
  //background: #ffffff;
  &:hover, &:focus {
    background: $color;
    color: #ffffff;
    outline: none;
  }
}

@mixin button_vndev_fill($color, $color-text:#ffffff) {
  background: $color;
  border: 1px solid $color;
  border-radius: 3px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  color: $color-text;
  &:hover, &:focus {
    background: lighten($color, 6%);
    border: 1px solid darken($color, 2);
    color: darken($color, 2);
    color: $color-text;
    outline: none;
  }
}

button:focus {
  box-shadow: none !important;
}

.btn {
  border-radius: 3px;
  font-size: 12px;
  padding: 8px 20px;
}

.btn-default {
  @include button_vndev(#08f);
  &.fill{
    @include button_vndev_fill(#08f);
  }
}

.btn-black {
  @include button_vndev(rgba(0,0,0,.5));
  &.fill{
    @include button_vndev_fill(rgba(0,0,0,.5));
  }
}

.btn-red {
  @include button_vndev(#ef7260);
  &.fill{
    @include button_vndev_fill(#ef7260);
  }
}

.btn-blue {
  @include button_vndev(#39add1);
  &.fill{
    @include button_vndev_fill(#39add1);
  }
}

.btn-orange {
  @include button_vndev(#eb7728);
  &.fill{
    @include button_vndev_fill(#eb7728);
  }
}

.btn-purple {
  @include button_vndev(#9e4d83);
  &.fill{
    @include button_vndev_fill(#9e4d83);
  }
}

.btn-green {
  @include button_vndev(#5cb860);
  &.fill{
    @include button_vndev_fill(#5cb860);
  }
}

.btn-yellow {
  @include button_vndev(#ebba10);
  &.fill{
    @include button_vndev_fill(#ebba10);
  }
}

.btn-blue-dark {
  @include button_vndev(#3e474f);
  &.fill{
    @include button_vndev_fill(#3e474f);
  }
}

.btn-super-sm{
  padding: 3px 5px !important;
}

.btn-no-border{
  border: 0px;
  &:hover, &:focus, &:active{
    background: transparent;
  }
}

.btn-no-background{
  background: transparent;
  &:hover, &:focus, &:active{
    background: transparent;
    box-shadow: none !important;
    outline: none !important;
  }
}

.btn-transparent{
  background: transparent;
  border: 1px solid transparent;
  color: #08f;
  @extend .btn-super-sm;
  &:hover, &:focus, &:active{
    background: transparent;
    color: darken(#08f, 10);
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid transparent !important;
  }
}

