@font-face {
  font-family: Bookerly;
  font-weight: 400;
  src: url(../fonts/Bookerly-Regular.ttf);
}

@font-face {
  font-family: Bookerly;
  font-weight: 400;
  font-style: italic;
  src: url(../fonts/Bookerly-RegularItalic.ttf);
}

@font-face {
  font-family: Bookerly;
  font-weight: 600;
  src: url(../fonts/Bookerly-Bold.ttf);
}

@font-face {
  font-family: Bookerly;
  font-weight: 600;
  font-style: italic;
  src: url(../fonts/Bookerly-BoldItalic.ttf);
}

@font-face {
  font-family: Tungtung;
  font-weight: 400;
  src: url(../fonts/Tungtung.ttf);
}