@import "../variables";

@mixin linkColor($color){
  color: $color;
  &:hover{
    text-decoration: none;
    color: darken($color, 6);
  }
}

a.tt-link-primary{
  @include linkColor($text-color-primary);
}

a.tt-link-gray{
  @include linkColor($text-color-gray);
}

a.tt-link-black{
  @include linkColor($text-color-black);
}

a.tt-link-black-white {
  @include linkColor($text-color-black-white);
}

a.tt-link-red{
  @include linkColor($text-color-red);
}

a.tt-link-blue{
  @include linkColor($text-color-blue);
}

a.tt-link-green{
  @include linkColor($text-color-green);
}

a.tt-link-green-darken{
  @include linkColor($text-color-green-darken);
}

a.tt-link-orange{
  @include linkColor($text-color-orange);
}

a.tt-link-purple{
  @include linkColor($text-color-purple);
}

a.tt-link-yellow{
  @include linkColor($text-color-yellow);
}