.tt-layout-white-box{
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  padding: 25px 30px;
  border-radius: 2px;
  &.sm {
    padding: 10px 20px;
  }
  .tt-paginate li a:not([href]):not([tabindex]){
    color: lighten(#08f, 4);
  }
  .tt-paginate li.selected a:not([href]):not([tabindex]){
    background: darken(#fafafa, 2);
    border-radius: 5px;
  }
}