.tt-tabs.pt-tabs{
  .pt-tab-list{
    border-bottom: 1px solid #EEEEEE;
  }
  .pt-tab{
    padding: 0px 15px;
    font-weight: 600;
    margin-right: 5px;
  }
  .pt-tab[aria-selected="true"], .pt-tab:not([aria-disabled="true"]):hover{
    color: #08f
  }
  .pt-tab-indicator-wrapper .pt-tab-indicator{
    background: #08f;
  }
  &.pt-vertical{
    .pt-tab{
      padding: 0px 15px;
    }
    .pt-tab-indicator-wrapper .pt-tab-indicator{
      background: transparent;
    }
  }
}