.popover{
  max-width: 400px;
  border: 0px;
  padding: 0px;
  background: transparent;
  .popover-inner{
    top: -1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  }
}

.popover.bs-tether-element-attached-top::before, .popover.popover-bottom::before{
  border-bottom-color: transparent;
}
.popover.bs-tether-element-attached-top::after, .popover.popover-bottom::after{
  border-bottom-color: #f2f2f2;
}

.media-manager-popover.popover-content{
  width: 400px;
  padding: 0px;
  overflow: hidden;
  .media-manager-popover-container{
    height: 300px;
  }
  .media-manager{
    height: 100%;
    .folders-sidebar{
      opacity: 0;
      margin-left: -250px;
      max-height: 100%;
      overflow: scroll;
      display: none;
    }
    .media-toolbar{
      flex-direction: column;
      align-items: flex-start;
    }
    .media-lists .empty-media{
      margin-top: 0px;
    }
    .dropzone-manager{
      height: calc(100% - 90px);
    }
    .media-lists-manager{
      margin-left: 0px;
      .media-lists {
        height: 100%;
        .media-item{
          width: 33.33%;
          height: 110px;
        }
      }
    }
  }
  &.show-folder-sidebars{
    .media-manager{
      overflow: hidden;
      .media-lists-manager{
        margin-left: 200px;
        width: 100%;
      }
      .folders-sidebar{
        display: block;
        animation: sidebar_show .5s infinite;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }
    }
  }
}


@-webkit-keyframes sidebar_hide {
  from {
    margin-left: 0px; opacity: 0;
  }
  30% {margin-left: -250px; opacity: 0}
  100% {
    margin-left: -250px; opacity: 0; display: none;
  }
}

@-webkit-keyframes sidebar_show {
  from {margin-left: -250px; opacity: 0; display: block}
  30% {margin-left: -100px; opacity: 0.5}
  100% {margin-left: 0px; opacity: 1}
}