/* TeXEditor full */
.TeXEditor-full {
  display: flex;
  position: relative;
  margin-top: 15px;
  &.border {
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding: 10px;
    .readIcon {
      right: 1px;
      top: 1px;
    }
  }
  .suggest {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0px;
    background: #ffffff;
    padding: 10px 15px;
    z-index: 3;
  }
  .toolbar{
    position: absolute;
    right: 0px;
    top: -10px;
    font-size: 12px;
    .item{
      float: left;
      margin-right: 10px;
    }
    &.left{
      left: 0px;
      top: -20px;
    }
    a {
      color: #888888;
      &:hover, &.active{
        color: orange;
        text-decoration: none;
        background: #ffffff;
      }
      &:focus{
        text-decoration: none;
      }
    }
  }
  .write, .read {
    float:left;
    width: 100%;
  }
  .read {
    display: none;
  }
  &.haveRead {
    .write, .read{
      width: 50%;
    }
    .write {
      padding-right: 5px;
      border-right: 1px solid #eeeeee;
    }
    .read {
      opacity: 1;
      display: block;
      margin-right: 0px;
      padding-left: 5px;
      .CodeMirror-sizer{
        margin-left: 30px !important;
      }
      .CodeMirror-gutter-wrapper{
        left: -30px !important;
      }
      .CodeMirror-gutter.CodeMirror-linenumbers{
        width: 29px;
      }
    }
  }
  &.readOnly{
    margin-top: 0px;
    .read{
      width: 100%;
    }
    .public-DraftEditor-content > div{
      & > div:last-child, & > div:first-child{
        br{
          display: none;
        }
      }
    }
  }
}

.TeXEditor-root {
  margin-top: 0px !important;
  margin-bottom: 5px !important;
  font-size: 14px;
  font-family: 'Bookerly';
  .TeXEditor-editor {
    min-height: 20px;
  }
  .public-DraftEditorPlaceholder-root{
    color: #9197a3;
    position: absolute;
    z-index: 0;
  }
  .DraftEditor-editorContainer, .public-DraftEditorPlaceholder-root {
    font-size: 14px;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: 0.01em;
  }
}

.DraftEditor-editorContainer {
  figure {
    margin: 0rem;
  }
}

.katex-strategy {
  position: relative;
  .box-overreview {
    position: absolute;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    min-width: 80px;
    background: white;
    top: -35px;
    padding: 5px 10px;
    color: #333333;
    left: 0px;
    z-index: 9999;
    display: none;
    &.active {
      display: block;
    }
  }
}

.draftJsToolbar__toolbar__2NV21 .draftJsToolbar__toolbar-item__ZQoML button {
  padding: 5px 10px;
}

.draftJsEmojiPlugin__emojiSuggestionsEntryIcon__1qC2V {
  position: relative;
  top: -5px;
}

.draftJsEmojiPlugin__emoji__2oqBk {
  position: relative;
  top: -3px;
}

.katex-display {
  display: inline-block;
  margin: 0px;
}

