i.pt-icon, i.pt-icon-standard, i.pt-icon-large, span.pt-icon, span.pt-icon-standard, span.pt-icon-large{
  color: inherit;
}

span.pt-icon-standard{
  line-height: 1;
  font-family: "Icons16", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

i.pt-icon-standard{
  line-height: 1;
  font-family: "Icons16", sans-serif;
  font-weight: 400;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}